.home-banner{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6),
    url('../../images/homepage-image.jpg')
    ) !important; */

    background-image: linear-gradient(rgba(150, 245, 245, 0.205), rgba(0, 0, 0, 0.6)),url("../../images/homepage-image.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
}


.home-banner h1{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}

.info-container{
    width: 50%;
}

.home-banner span{
    color: rgb(0, 252, 155);
}

@media screen and (max-width:688px) {
    .home-banner{
        height: auto;
        text-align: center;
    }    
    .info-container{
    width: 100%;
}
    .home-banner h1{
        text-align: center;
    }    
}