.login-container{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .google{
    position: absolute;
    bottom: 25%;
    left : 42.5%;
}

@media screen and (max-width: 688px) {
    .google{

    } */
/* } */